# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Flask
instance/
.webassets-cache

# Database
*.db
*.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/

# Model files
*.pth

# Logs
*.log

# Uploads directory
static/uploads/*
!static/uploads/.gitkeep 